@charset "UTF-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  line-height: 1.6;
  color: #333;
  background-color: #FFF; }

img {
  max-width: 100%; }

a {
  color: #017CF5;
  text-decoration: none;
  transition: all 0.4s; }
  a:hover {
    color: #01498f; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font-family: "NotoSans", "NotoSansUI", "PingFang SC", "HiraginoSansGB-W3", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

code {
  color: #666;
  background: #FEFEFE;
  font-family: 'Roboto Mono', 'Menlo', 'Monaco', Courier, monospace !important;
  font-size: 13px !important;
  font-weight: 500 !important; }

hr {
  border: none;
  border-top: 1px solid #ECECEC; }

.site-content {
  margin-top: 70px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #666; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.space-xxs {
  height: 10px; }

.space-xs {
  height: 20px; }

.space-sm {
  height: 30px; }

.space-md {
  height: 40px; }

.space-lg {
  height: 50px; }

.space-xlg {
  height: 60px; }

.space-xxlg {
  height: 70px; }

.shadowed {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); }

.section-title {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: left;
  font-size: 36px; }

.section-description {
  margin: 0 auto;
  margin-bottom: 40px;
  color: #999;
  text-align: left; }

.container-works .works-list .list-item {
  position: relative;
  display: block;
  border: 1px solid #F3F3F3;
  transition: 0.4s all; }
  .container-works .works-list .list-item:hover {
    box-shadow: 0 0 15px #EEE; }
  .container-works .works-list .list-item .poster img {
    display: block;
    width: 100%; }
  .container-works .works-list .list-item .desc {
    padding: 0 10px;
    text-align: left; }
    .container-works .works-list .list-item .desc p {
      margin: 0; }
    .container-works .works-list .list-item .desc .title {
      margin: 0;
      padding: 10px;
      font-weight: 400;
      color: #333; }

.container-works .works-list.list-painting {
  margin-bottom: 80px; }

@media (max-width: 767px) {
  .container-works .works-list {
    margin: 0 -15px !important; }
    .container-works .works-list .col-sm-6 {
      padding: 0 15px !important; }
    .container-works .works-list .list-item {
      margin-bottom: 20px !important; } }

.container-articles .section-title {
  margin-top: 0; }

.container-articles .articles-list {
  margin: 0 -20px; }
  .container-articles .articles-list .col-sm-6 {
    padding: 0 20px; }
  .container-articles .articles-list .list-item {
    position: relative;
    display: block;
    padding: 15px;
    padding-top: 36%;
    border: 1px solid #333;
    color: #333; }
    .container-articles .articles-list .list-item:hover {
      box-shadow: 0 0 15px #DDD; }
    .container-articles .articles-list .list-item > div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px; }
      .container-articles .articles-list .list-item > div .item-title {
        margin: 0;
        font-size: 18px; }
      .container-articles .articles-list .list-item > div .item-desc {
        margin: 0; }

.btn-more {
  display: block;
  width: 44px;
  height: 44px;
  margin-top: 15px;
  color: #333;
  border-radius: 22px;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: normal;
  line-height: 44px;
  text-align: center; }
  .btn-more:hover {
    color: #FFF;
    background: #333; }

.section-list {
  margin: 0 -20px; }
  .section-list .section-item {
    margin-bottom: 40px;
    padding: 0 20px; }

@media (max-width: 767px) {
  .section-list {
    margin: 0 -15px !important; }
    .section-list .section-item {
      margin-bottom: 30px !important;
      padding: 0 15px !important; } }

@font-face {
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "NotoSans";
  unicode-range: U+00-024F;
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #EEE;
  overflow: hidden;
  background: #FFF;
  z-index: 1;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s; }
  .site-header.header-hidden {
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px); }
  .site-header > nav {
    height: 70px;
    padding: 15px; }
    .site-header > nav .header-logo {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid #EEE;
      overflow: hidden; }
      .site-header > nav .header-logo:hover {
        background: #333; }
    .site-header > nav .header-link {
      padding-left: 15px;
      color: #999;
      font-size: 15px;
      line-height: 40px; }
      .site-header > nav .header-link.active {
        color: #333; }
      .site-header > nav .header-link:hover {
        color: #333; }

/*
 * From https://github.com/pinggod/hexo-theme-apollo/blob/master/source/scss/_partial/post.scss
 */
code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace; }

code {
  padding: 0.2em 0.4em;
  background-color: #efefef;
  border-radius: 3px; }

pre .line {
  min-height: 1em; }

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
  overflow-x: auto; }
  .highlight table, .highlight tr, .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  .highlight .gutter {
    display: none; }
  .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.js .code:after {
  content: "JS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

.highlight.swift .code:after {
  content: "SWIFT"; }

.highlight.ruby .code:after {
  content: "RUBY"; }

.highlight.perl .code:after {
  content: "PERL"; }

.highlight.php .code:after {
  content: "PHP"; }

.highlight.c .code:after {
  content: "C"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.cpp .code:after {
  content: "CPP"; }

.highlight.ts .code:after {
  content: "TS"; }

.highlight.cpp .code:after {
  content: 'C++'; }

pre {
  color: #525252; }
  pre .function .keyword,
  pre .constant {
    color: #0092db; }
  pre .keyword,
  pre .attribute {
    color: #e96900; }
  pre .number,
  pre .literal {
    color: #ae81ff; }
  pre .tag,
  pre .tag .title,
  pre .change,
  pre .winutils,
  pre .flow,
  pre .lisp .title,
  pre .clojure .built_in,
  pre .nginx .title,
  pre .tex .special {
    color: #2973b7; }
  pre .symbol,
  pre .symbol .string,
  pre .value,
  pre .regexp {
    color: #42b983; }
  pre .title {
    color: #83B917; }
  pre .tag .value,
  pre .string,
  pre .subst,
  pre .haskell .type,
  pre .preprocessor,
  pre .ruby .class .parent,
  pre .built_in,
  pre .sql .aggregate,
  pre .django .template_tag,
  pre .django .variable,
  pre .smalltalk .class,
  pre .javadoc,
  pre .django .filter .argument,
  pre .smalltalk .localvars,
  pre .smalltalk .array,
  pre .attr_selector,
  pre .pseudo,
  pre .addition,
  pre .stream,
  pre .envvar,
  pre .apache .tag,
  pre .apache .cbracket,
  pre .tex .command,
  pre .prompt {
    color: #42b983; }
  pre .comment,
  pre .java .annotation,
  pre .python .decorator,
  pre .template_comment,
  pre .pi,
  pre .doctype,
  pre .shebang,
  pre .apache .sqbracket,
  pre .tex .formula {
    color: #b3b3b3; }
  pre .deletion {
    color: #BA4545; }
  pre .coffeescript .javascript,
  pre .javascript .xml,
  pre .tex .formula,
  pre .xml .javascript,
  pre .xml .vbscript,
  pre .xml .css,
  pre .xml .cdata {
    opacity: 0.5; }

.pagination-widgets .container {
  margin-top: 20px; }
  .pagination-widgets .container .page-number, .pagination-widgets .container .next, .pagination-widgets .container .prev {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    line-height: 30px;
    border-radius: 15px;
    color: #333;
    background: #F3F3F3; }
    .pagination-widgets .container .page-number.current, .pagination-widgets .container .next.current, .pagination-widgets .container .prev.current {
      color: #FFF;
      background: #333; }
    .pagination-widgets .container .page-number:not(.current):hover, .pagination-widgets .container .next:not(.current):hover, .pagination-widgets .container .prev:not(.current):hover {
      background: #CCC; }
  .pagination-widgets .container .next img, .pagination-widgets .container .prev img {
    height: 12px;
    vertical-align: middle; }

.footer {
  border-top: 1px solid #F3F3F3; }
  .footer .container {
    padding: 30px 0; }
    .footer .container .footer-qrcode {
      margin-bottom: 20px; }
      .footer .container .footer-qrcode img {
        width: 90px; }
    .footer .container .footer-social {
      margin-bottom: 20px; }
      .footer .container .footer-social a {
        padding: 5px; }
        .footer .container .footer-social a img {
          height: 20px;
          opacity: 0.5;
          transition: opacity 0.4s; }
        .footer .container .footer-social a:hover img {
          opacity: 0.8; }

.archive {
  padding-bottom: 60px; }
  .archive .archive-title {
    margin-top: 50px; }
  .archive h2.year {
    color: #444444; }
  .archive ul.list {
    padding-left: 50px; }
    .archive ul.list li {
      padding: 10px 0;
      line-height: 1.5; }
  .archive .date {
    display: inline-block;
    width: 80px;
    margin-right: 30px;
    color: #7f8c8d; }

.about {
  margin-bottom: 100px; }
  .about .about-limited {
    max-width: 700px; }
    .about .about-limited .about-hero {
      padding: 30px 0;
      text-align: center; }
      .about .about-limited .about-hero img {
        margin: auto; }

.post-container .container-cover {
  padding: 80px 0;
  color: #FFF; }
  .post-container .container-cover h1, .post-container .container-cover p {
    margin: 0; }

.post-container .container-header {
  text-align: center; }
  .post-container .container-header h1 {
    margin: 50px 0 0 0;
    font-size: 30px; }
  .post-container .container-header h2 {
    margin: 5px 0;
    margin-top: 0;
    font-size: 18px;
    color: #666;
    font-weight: normal; }
  .post-container .container-header p {
    margin: 0;
    color: #999; }

.post-container .container-limited {
  max-width: 680px; }

.post-container .container-line {
  width: 180px;
  margin: 20px auto;
  border-top: 3px solid #ECECEC; }

.post-container .container-outline {
  padding: 0 15px;
  text-align: center; }
  .post-container .container-outline h4, .post-container .container-outline p {
    margin: 5px 0; }
  .post-container .container-outline img {
    width: 120px; }

.post-container .container-article {
  font-size: 15px;
  line-height: 1.8;
  color: #333; }
  .post-container .container-article .article-content h2 {
    margin: 60px 0;
    margin-bottom: 30px;
    text-align: center; }
  .post-container .container-article .article-content h4 {
    margin: 5px 0; }
  .post-container .container-article .article-content > blockquote {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    color: #999;
    background: #F8F8F8; }
    .post-container .container-article .article-content > blockquote p {
      margin: 0; }
  .post-container .container-article .article-content ul {
    padding-left: 25px;
    list-style: circle outside; }
    .post-container .container-article .article-content ul li blockquote {
      margin: 0;
      margin-bottom: 15px;
      color: #888; }
      .post-container .container-article .article-content ul li blockquote p {
        margin-top: 0; }
    .post-container .container-article .article-content ul li img {
      margin: 20px;
      border: 1px solid #F3F3F3; }
  .post-container .container-article .article-content > ul {
    margin-bottom: 40px; }
  .post-container .container-article .article-content > p {
    margin-bottom: 20px; }
  .post-container .container-article .article-content .content-image {
    margin: 50px auto;
    text-align: center; }

.post-container .container-ending {
  position: relative;
  margin: 40px 0;
  text-align: center; }
  .post-container .container-ending a.ending-nav {
    display: block;
    width: 170px;
    position: absolute;
    top: 15px; }
    .post-container .container-ending a.ending-nav .nav-icon {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px;
      border: 1px solid #EEE;
      color: #999;
      transition: all 0.6s; }
      .post-container .container-ending a.ending-nav .nav-icon img {
        height: 16px;
        vertical-align: -1px; }
    .post-container .container-ending a.ending-nav div.hidden-xs {
      float: left;
      width: 120px;
      padding: 4px 6px;
      color: #666;
      opacity: 0.5;
      transition: all 0.6s; }
      .post-container .container-ending a.ending-nav div.hidden-xs p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .post-container .container-ending a.ending-nav div.hidden-xs p:first-child {
          color: #333; }
        .post-container .container-ending a.ending-nav div.hidden-xs p:last-child {
          font-size: 12px; }
    .post-container .container-ending a.ending-nav:hover .nav-icon {
      background: #CCC; }
    .post-container .container-ending a.ending-nav:hover div.hidden-xs {
      opacity: 1; }
  .post-container .container-ending .ending-prev {
    left: 0; }
    .post-container .container-ending .ending-prev div.hidden-xs {
      text-align: left; }
  .post-container .container-ending .ending-next {
    right: 0; }
    .post-container .container-ending .ending-next div.hidden-xs {
      text-align: right; }
  @media (max-width: 767px) {
    .post-container .container-ending a.ending-nav {
      width: 50px; } }

@media (max-width: 767px) {
  .post-container .container-header {
    text-align: center; }
    .post-container .container-header h1 {
      margin: 20px 0 0 0;
      font-size: 24px; }
    .post-container .container-header h2 {
      color: #333;
      font-size: 16px;
      font-weight: normal; } }

.not-found .not-found-poster {
  line-height: 0; }
  .not-found .not-found-poster > img {
    width: 120px;
    padding: 5px;
    border: 1px solid #EEE; }

.not-found .not-found-quote {
  max-width: 320px;
  margin: 0 auto;
  font-style: italic;
  color: #999; }
  .not-found .not-found-quote::before {
    content: '“';
    margin-right: 5px;
    color: #E3E3E3;
    font-size: 50px; }
